body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(53, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 300px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  color: blue;
  padding-top: 50px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 40px;
}

.mail {
  width: 342px;
  padding: 7px;
  border-radius: 6px;
  border: 2px solid silver;
  background-color: #504a4a;
}
.name-container input {
    border: 2px solid silver;
    width: 100px;
    padding: 7px;
    border-radius: 6px;
    background-color: #504a4a;
}

.password input {
    border: 2px solid silver;
    width: 160px;
    padding: 7px;
    border-radius: 6px;
    background-color: #504a4a;
}

form button {
  background-color: rgb(36, 36, 144);
  color: rgb(212, 200, 200);
  padding: 4px 8px;
  border: 2px solid silver;
  border-radius: 6px;
}

form button:hover{
    color: goldenrod;
    background-color: blue;
}

input[type="email"]{
    color: rgb(13, 255, 0);
}
